#chat2{
    background: #ffff;
    margin-left: 5%;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 450px;
    margin-bottom: 5px;
}
#mensaje{
    color: black;
    margin-right: 40px;
}
#usuario{
    color: #C51C11;
    margin-right: 15px;
}
#cliente{
    color: #088C00;
    margin-right: 15px;
}
#hora{
    color: #0037B9;
   
}