#chat2{
    background: #ffff;
    margin-left: 5%;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 450px;
    margin-bottom: 5px;
}
.user{
    color: #C51C11;
    margin-right: 15px;
}
.cli{
    color: #088C00;
    margin-right: 15px;
}
#hora{
    margin-right: 20px;
    color: #0037B9;
}